/* 로그인 페이지 */
body.loginBody				{ background:#eee; }
.login					{ width:400px; position:fixed; top:50%; left:50%; margin:-250px 0 0 -200px; min-height:500px; background:#fff; }

.login .tit				{ padding:70px 0 0; text-align:center; }
.login .tit img		{ width:300px; }
.login .tit span		{ display:block; font-size:24px; font-weight:bold; color:#666; text-align:center; padding:30px 0 0; }

.login form			{ display:block; width:200px; margin:40px auto; }
.login p					{ width:100%; margin:0 0 15px; }
.login p input		{ width:180px; padding:0 10px; height:40px; border:0; font-size:14px; color:#fff; background:#a0a0a0; font-weight:bold; }
.login p button		{ width:200px; height:40px; border:0; background:#707070; line-height:40px; text-align:center; font-size:14px; color:#fff; font-weight:bold; }




.contentsMenu			{ width:100%; display:inline-block; }
.contentsMenu li		{ width:12.5%; float:left; }
.contentsMenu li a	{ display:block; height:50px; line-height:50px; text-align:center; background:#7b7e87; color:#fff; margin:0 1px; text-decoration:none; }
.contentsMenu li a.on			{ background:#3a5199; }


.topBt						{ width:100%; display:inline-block; padding:30px 0 0; box-sizing:border-box; }
.topBt li					{ width:50%; float:left; }
.topBt.leng3 li					{ width:33.3333333%; }
.topBt.leng4 li					{ width:25%; }
.topBt li a					{ display:block; height:50px; line-height:50px; font-size:18px; text-align:center; background:#484653; color:#adacb4; margin-left:20px; }
.topBt li:first-child a	{ margin:0; }
.topBt li a:hover		{ background:#3a5199; color:#fff; text-decoration:none; }


h2.pageTit				{ font-size:20px; color:#000; padding:0 0 8px; border-bottom:1px solid #ebebeb; margin-bottom:50px; }
.searchArea		{ display:block; text-align:right; margin:0 0 20px; }
.searchArea a	{ background:#457cac; padding:9px 15px; color:#fff; font-size:14px; text-decoration:none; }
.searchArea .it	{ width:200px; height:30px; }
.searchArea select				{ width:160px; height:34px; font-size:14px; }
.searchArea button				{ padding:9px 15px; border:0; background:#457cac; color:#fff; font-size:14px; vertical-align:bottom; }
.searchArea .ml30					{ margin-left:30px; }

.searchArea .searchMore		{ border:1px solid #ebebeb; padding:5px; box-sizing:border-box; margin:-20px 0 10px; background:#f7f7f7; }
.searchArea .searchMore ul	{ width:100%; display:inline-block; }
.searchArea .searchMore li	{ float:left; width:20%; text-align:center; padding:5px; box-sizing:border-box; }
.searchArea .searchMore li input			{ width:100%; box-sizing:border-box; text-align:center; font-size:14px; height:34px; margin:0; }
.searchArea .searchMore p	{ padding:10px 5px; }

.tbTab						{ width:100%; display:inline-block; }
.tbTab li					{ float:left; width:12.5%; }
.tbTab li:first-child	{ margin-left:0; }
.tbTab li a					{ display:block; padding:6px 0; background:#484653; text-align:center; color:#fff; border-left:1px solid #ddd; border-right:1px solid #ddd; font-size:12px; }
.tbTab li a.on			{ background:#3a5199; }

form .listTb                { margin:20px 0 0px; }
form .listTb table th       { text-align:center; }
.listTb						{ width:100%; }
.listTb table				{ width:100%; border-top:2px solid #666; }
.listTb table th			{ background:#f1f1f1; border-bottom:1px solid #ebebeb; font-size:11px; color:#333; padding:8px 0; }
.listTb table td			{ border-bottom:1px solid #ebebeb; padding:4px 0; font-size:11px; color:#333; text-align:center; }
.listTb table td a		{ font-size:11px; color:blue; text-decoration:underline; color:#333; }
.listTb table td input.hidden				{ display:none; }
.listTb table td label.upload1			{ padding:3px 12px; border:0; background:#45b6b6; color:#fff; font-size:11px; }
.listTb table tr.bd td				{ background:#fbfbfb; }
.listTb table tr.red				{ background:#fd9c9c; }
.listTb table tr.yellow			{ background:#fbfb8a; }
.listTb table tr.gray			{ background:#c0c0c0; }
.listTb table tr.green			{ background:#228b22; }
.listTb table tr.yellowgreen			{ background:#7fff00; }
.listTb table tr.blue				{ background:#bcbce8; }
.listTb table tr.total				{ background:#ddd; }
.listTb table td .btn				{ display:inline-block;padding:3px 12px; border:0; background:#45b6b6; color:#fff; font-size:11px; text-decoration:none; }
.listTb table td input.it.it2		{ margin:0 10px; width:calc(100% - 20px); box-sizing:border-box; }
.listTb table td select			{ margin:0 10px; width:calc(100% - 20px); height:32px; border:1px solid #ddd; box-sizing:border-box; text-align:center; }
.listTb table.dataTb thead th		{ background:#7b7e87; color:#fff; }
.listTb table.dataTb tbody th		{ vertical-align:top; text-align:left; padding:8px 10px; border-bottom:1px solid #333; border-right:1px solid #333; }
.listTb table.dataTb td					{ text-align:left; padding:8px 10px; border-bottom:1px solid #333; }
.listTb table.dataTb tr.col1			{ background:#dbeef3; }
.listTb table.dataTb tr.col2			{ background:#e5e0ec; }
.listTb table.dataTb tr.col3			{ background:#fde9d9; }
.listTb table.dataTb .redBold		{ color:red; font-weight:bold; }

.paging						{ width:100%; display:inline-block; padding:25px 0 0; text-align:center; }
.paging a					{ width:32px; height:32px; line-height:32px; text-align:center; font-size:14px; border:1px solid #999; display:inline-block; text-decoration:none; color:#666; margin:0 1px; }
.paging a:hover		{ background:#666; color:#fff; }
.paging span			{ padding:0 15px; }
.paging span a.on	{ background:#666; color:#fff; }



.depot						{ width:100%; display:inline-block; }
.depot li					{ width:calc(25% - 20px); margin:0 0 20px 20px; background:#fff; float:left; box-sizing:border-box; padding:20px; }
.depot li:hover			{ background:#feffe6; }
.depot li:nth-child(4n+1)		{ margin-left:0; width:25%; }
.depot li strong		{ font-size:20px; color:#707070; }
.depot li .tit							{ font-size:20px; color:#707070; font-weight:bold; }
.depot li .date						{ font-size:11px; height:30px; line-height:13px; color:#707070; padding:10px 0 0; }
.depot li .num						{ text-align:center; }
.depot li .num strong			{ font-size:80px; color:#707070; color:#0089ff; line-height:100%; }
.depot li .num span			{ font-size:20px; color:#707070; }
.depot li p.icoBt					{ text-align:right; padding:20px 0 0; }
.depot li p.icoBt a				{ padding:54px 0 0; font-size:11px; color:#707070; margin-left:10px; display:inline-block; min-width:49px; text-align:center; position:relative; }
.depot li p a.ico1		{ background:url(/images/custom/ico1.png) 50% 0 no-repeat; }
.depot li p a.ico2		{ background:url(/images/custom/ico2.png) 50% 0 no-repeat; }
.depot li p a.ico3		{ background:url(/images/custom/ico3.png) 50% 0 no-repeat; }

.shop						{ margin:30px 0 0; }
.shop .shopBt			{ text-align:right; padding:0 0 5px; }
.shop .shopBt a		{ background:#457cac; padding:7px 20px; color:#fff; font-size:18px; text-decoration:none; display:inline-block; }
.shop .shopList						{ width:100%; display:inline-block; }
.shop .shopList li						{ width:calc(25% - 20px); margin:0 0 20px 20px; background:#fff;  float:left; box-sizing:border-box; padding:20px; position:relative; }
.shop .shopList li:hover			{ background:#feffe6; }
.shop .shopList li:nth-child(4n+1)	{ margin-left:0; width:25%; }
.shop .shopList li .tit							{ font-size:20px; color:#707070; font-weight:bold; }
.shop .shopList li .date						{ font-size:11px; height:30px; line-height:13px; color:#707070; padding:10px 0 0; }
.shop .shopList li .num						{ text-align:center; }
.shop .shopList li .num strong			{ font-size:80px; color:#707070; color:#0089ff; line-height:100%; }
.shop .shopList li .num span			{ font-size:20px; color:#707070; }
.shop .shopList li p.icoBt					{ text-align:right; padding:20px 0 0; }
.shop .shopList li p.icoBt a				{ padding:54px 0 0; font-size:11px; color:#707070; margin-left:10px; display:inline-block; min-width:49px; text-align:center; position:relative; }
.shop .shopList li p.icoBt a.ico1		{ background:url(/images/custom/ico1.png) 50% 0 no-repeat; }
.shop .shopList li p.icoBt a.ico2		{ background:url(/images/custom/ico2.png) 50% 0 no-repeat; }
.shop .shopList li p.icoBt a.ico3		{ background:url(/images/custom/ico3.png) 50% 0 no-repeat; }
.shop .shopList li p.icoBt a em			{ font-style:normal; font-size:12px; color:#fff; background:red; width:24px; height:24px; line-height:22px; position:absolute; top:2px; left:15px; }
.shop .shopList li .hidden					{ display:none; }
.shop .shopList li label						{ position:absolute; top:20px; right:20px; background:url(/images/custom/chk_off.png) 0 0 no-repeat; width:30px; height:30px; }
.shop .shopList li input:checked+label			{ background:url(/images/custom/chk_on.png) 0 0 no-repeat; }


.dashBoard .bigGraph						{ width:100%; background:#fff; padding:15px 10px; box-sizing:border-box; margin-bottom:20px; }
.dashBoard .bigGraph h2.tit				{ font-size:20px; color:#000; padding:0 0 8px; border-bottom:1px solid #ebebeb; margin-bottom:50px; }
.dashBoard .right								{ width:280px; position:absolute; top:0; right:0; }
.dashBoard .right li							{ min-height:220px; margin:0 0 20px; background:#fff; padding:15px 10px; box-sizing:border-box; }
.dashBoard .right li .tit						{ width:100%; display:inline-block; }
.dashBoard .right li .tit strong			{ float:left; font-size:17px; color:#707070; }
.dashBoard .right li .tit span				{ float:right; font-size:13px; color:#707070; text-align:right; }
.dashBoard .right li .num					{ text-align:center; padding:20px 0; }
.dashBoard .right li .num strong		{ font-size:70px; color:#707070; color:#0089ff; line-height:100%; }
.dashBoard .right li .num span			{ font-size:18px; color:#707070; }
.dashBoard .right li .bt						{ text-align:center; }
.dashBoard .right li .bt a					{ padding:3px 12px; border:0; background:#45b6b6; color:#fff; font-size:14px; margin:0 4px; }
.dashBoard .right li .bt2					{ text-align:center; }
.dashBoard .right li .bt2 a				{ padding:10px 12px; border:0; background:#45b6b6; color:#fff; font-size:14px; margin:0 0 10px; display:block; }






/* layer */
.layerCont			{ width:800px; max-height:90%; height:auto; position:fixed; top:50%; left:50%; z-index:101; background:#fff; display:none; overflow:auto; }
.layerCont.layerCont_w2				{ width:1200px; }
.layerCont.layerCont_v2	{ z-index:201; }
.layerCont .inner				{ padding:30px 30px 40px; }

.layerTopClose		{ position:absolute; top:34px; right:30px; width:30px; height:30px; }
.layerTopClose img			{ width:100%; }
.layerTit				{ font-size:24px; font-weight:bold; padding:0 0 6px; margin:0 0 15px; border-bottom:2px solid #ccc; }
.layerFootBt			{ width:100%; display:inline-block; text-align:right; padding:10px 0 0; }
.layerFootBt a		{ display:inline-block; width:80px; padding:10px 0; font-size:14px; text-align:center; text-decoration:none; }
.layerFootBt a.cancel		{ background:#666; color:#fff; }
.layerFootBt a.confirm		{ background:#457cac; color:#fff; }

.layerContents table.apitb		{ width:100%; border-top:2px solid #666; }
.layerContents table.apitb th	{ background:#f1f1f1; border-bottom:1px solid #ebebeb; font-size:14px; color:#333; padding:6px 0; }
.layerContents table.apitb td	{ border-bottom:1px solid #ebebeb; padding:14px 10px; font-size:14px; color:#333; text-align:center; }
.layerContents table.apitb td input.it			{ width:100%; height:28px; }

.tbTopBt				{ text-align:right; display:inline-block; width:100%; padding:0 0 6px; }
.tbTopBt a			{ display:inline-block; background:#457cac; padding:7px 15px; color:#fff; font-size:14px; vertical-align:text-bottom; text-decoration:none; }

.layerForm			{ width:100%; display:inline-block; }
.layerForm .lfl		{ float:left; }
.layerForm .lfl select			{ width:180px; height:32px; border:1px solid #ddd; }
.layerForm .lfl button		{ padding:0 15px; line-height:32px; background:#457cac; border:0; font-size:14px; color:#fff; vertical-align:-2px; }
.layerForm .lfr		{ float:right; }
.layerForm .file					{ font-size:30px; display:inline-block; padding:2px 10px; line-height:0; line-height:30px; }
.layerForm .hidden			{ display:none; }

.connectedSortable			{ width:100%; border:1px solid #ddd; padding:10px 5px; box-sizing:border-box; display:inline-block; margin:15px 0; }
.connectedSortable li		{ width:100px; padding:8px 5px; background:#3a5199; float:left; margin:0 5px; color:#fff; text-align:center; cursor:pointer; font-size:14px; }
#sortable2 li					{ background:#333; }

.sortable				{ width:100%; display:inline-block; }
.sortable .sortableCon						{ width:45%; float:left; }
.sortable .sortableCon .soltableTit	{ height:40px; text-align:center; line-height:40px; background:#403e49; color:#fff; }
.sortable .sortableCon select			{ height:280px; width:100%; outline:none; }
.sortable .sortableCon select option			{ display:block; padding:10px; font-size:14px; border-bottom:1px solid #ddd; }
.sortable .connectedSortableBt		{ width:10%; float:left; box-sizing:border-box; padding:44px 15px 0; }
.sortable .connectedSortableBt a		{ display:block; padding:50px 0; text-align:center; margin:8px 0 0; background:#3a5199; color:#fff; text-decoration:none; }

.layerTb				{ width:100%; margin:0 auto; }
.layerTb.mt10		{ margin-top:10px; }
.layerTb.mb10		{ margin-bottom:10px; }
.layerTb.mt30		{ margin-top:30px; }
.layerTb.scrollTb	{ max-height:160px; overflow-y:auto; }
.layerTb table		{ width:100%; text-align:left; }
.layerTb table.c									{ text-align:center; }
.layerTb table .c									{ text-align:center; }
.layerTb table .l									{ text-align:left; }
.layerTb table th	{ border:1px solid #ccc; padding:4px 10px; background:#efefef; font-size:12px; font-weight:bold; color:#333; }
.layerTb table th.tit	{ background:#333; color:#fff; }
.layerTb table th.tit .titBt						{ float:right; width:80px; height:22px; line-height:22px; background:#fff; color:#333; text-align:center; font-size:12px; }
.layerTb table td	{ border:1px solid #ccc; padding:8px 10px; font-size:12px; color:#333; }
.layerTb table th *	{ font-size:14px; color:#333; }
.layerTb table td *	{ font-size:12px; color:#333; }
.layerTb table td.none								{ border-left:0; border-right:0; font-size:0px; }
.layerTb table td input[type="text"]			{ height:26px; border:1px solid #ddd; }
.layerTb table td input[type="radio"]		{ margin:0 4px 0 0; vertical-align:inherit; }
.layerTb table td input[type="radio"] + label	{ margin:0 20px 0 4px; }
.layerTb table td input[type="checkbox"]		{  }
.layerTb table td input.it							{ width:100%; }
.layerTb table td input.it2							{ width:218px; }
.layerTb table td input.it3							{ width:160px; }
.layerTb table td input.it4							{ width:115px; }
.layerTb table td input.it5							{ width:462px; }
.layerTb table td input.it6							{ width:362px; }
.layerTb table td select							{ width:100%; height:28px; border:1px solid #ddd; box-sizing:border-box; }
.layerTb table td select.three					{ width:32%; float:left; margin:0 0.5%; }
.layerTb table td input.it7							{ width:100px; text-align:center; }
.layerTb table td .memoTxt						{ width:100%; height:100px; overflow:auto; }
.layerTb table td .memo							{ padding:0 64px 0 0; position:relative; height:30px; }
.layerTb table td .memo input					{ height:26px; width:100%; }
.layerTb table td .memo button				{ position:absolute; top:0; right:0; padding:0 15px; line-height:28px; background:#457cac; border:0; font-size:14px; color:#fff; vertical-align:-2px; }
.layerTb table td .memo a				{ position:absolute; top:0; right:0; padding:0 15px; line-height:28px; background:#457cac; border:0; font-size:14px; color:#fff; vertical-align:-2px; }
.layerTb table td .celPlus							{ font-size:30px; display:inline-block; padding:2px 10px; line-height:0; line-height:30px; text-decoration:none; }



.selDel             { background:rgba(150,0,29,1) !important; }
#poEmailSend           { display:table !important;  }
















